beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
ChatterBot==1.0.1
chatterbot-corpus==1.2.0
click==7.1.2
colorama==0.4.4
DateTime==4.3
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==1.1.0
MarkupSafe==1.1.1
mathparse==0.1.2
nltk==3.7
packaging==21.3
Pillow==8.1.2
Pint==0.18
pygame==2.0.1
pymongo==3.12.3
pyparsing==3.0.7
python-dateutil==2.7.5
pytz==2020.5
PyYAML==3.13
regex==2022.1.18
requests==2.25.1
six==1.16.0
soupsieve==2.1
SQLAlchemy==1.2.19
tqdm==4.62.3
urllib3==1.26.3
Werkzeug==1.0.1
win10toast==0.9
zope.interface==5.2.0
